Repository Muhammad-Magomedov/pc_store: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:check, npm run test --findRelatedTests, eslint, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": [
    "npm run prettier:check",
    "npm run test --findRelatedTests"
  ],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

test
  .lintstagedrc.json
  src/App.jsx
  src/App.test.js
Due: npm run prettier:check, npm run test --findRelatedTests

add cd
  .github/workflows/main.yml
Due: none

changed yaml
  .github/workflows/main.yml
Due: none

changed lint-staged
  .github/workflows/main.yml
  jest.config.js
  src/App.test.jsx
Due: npm run prettier:check, npm run test --findRelatedTests

again yaml
  .github/workflows/main.yml
Due: none

test
  .lintstagedrc.json
  __tests__/App.test.jsx
  src/App.jsx
Due: npm run prettier:check, npm run test --findRelatedTests

snsns
  .lintstagedrc.json
  package.json
  src/App.jsx
Due: npm run prettier:check, npm run test --findRelatedTests

snsns
  src/App.jsx
Due: npm run prettier:check, npm run test --findRelatedTests

fix yaml
  .github/workflows/main.yml
Due: none

fix script
  .github/workflows/main.yml
Due: none

uraaaa
  src/App.jsx
Due: npm run prettier:check, npm run test --findRelatedTests

uraaaa
  .github/workflows/main.yml
Due: none

remove git pull
  .github/workflows/main.yml
Due: none

proverka vsego
  src/App.jsx
Due: npm run prettier:check, npm run test --findRelatedTests

Update main.yml
  .github/workflows/main.yml
Due: none

что-то получилось ура
  src/App.jsx
Due: npm run prettier:check, npm run test --findRelatedTests

add docker
  .github/workflows/main.yml
  .husky/pre-commit
  Dockerfile
  package-lock.json
  package.json
Due: npm run prettier:check, npm run test --findRelatedTests

installed query and typescript
  package-lock.json
  package.json
  src/App.tsx
  src/index.js
  src/index.tsx
  tsconfig.json
Due: npm run prettier:check, npm run test --findRelatedTests

installed query and typescript
  src/index.tsx
  tsconfig.json
Due: npm run prettier:check, npm run test --findRelatedTests

add two new components
  .babelrc
  .gitignore
  .prettierignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/webpack.config.js
  __tests__/App.test.jsx
  custom.d.ts
  dist/output.css
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  public/images/productPortfel.jpg
  public/index.html
  src/App.tsx
  src/app/App.test.jsx
  src/app/App.tsx
  src/index.css
  src/index.tsx
  src/shared/ui/components/ProductCard/ProductCard.stories.tsx
  src/shared/ui/components/ProductCard/ProductCard.tsx
  src/shared/ui/components/ProductCard/assets/cart.tsx
  src/shared/ui/components/ProductCard/assets/hearth.tsx
  src/shared/ui/components/TableRow/TableRow.stories.tsx
  src/shared/ui/components/TableRow/TableRow.tsx
  src/shared/ui/components/index.ts
  src/shared/ui/index.ts
  svgTransform.js
  tailwind.config.js
  tsconfig.json
Due: npm run prettier:check, npm run test --findRelatedTests, eslint, prettier --write
